<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
        <title>Camada Fisica</title>
    </head>
    <body>
        <div class="nav-bar">
            <h2>Camada Física da Computação</h2>
        </div>
        <div class="container">
            <div class="body">
                <a href="/recebendo">Receber dados</a>
                <a href="/selecionar-arquivo">Enviar dados</a>
            </div>
        </div>
    </body>
</html>
