<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
        <title>Fim de envio</title>
    </head>
    <body>
        <div class="nav-bar">
            <h2>Camada Física da Computação - Imagem Recebida:</h2>
        </div>
        <div class="container">
            <div style="display: flex; flex-direction:column; justify-content: center;">
            <img style="width: 30%;" src="/static/images/imgFlask.png" alt=""></img>
            <a href="/">Retornar a home</a>
            </div>
        </div>
    </body>
    </body>
</html>
